@font-face { font-family: GameofThrones; src: url('../fonts/game-of-thrones/GameofThrones.TTF'); } 

h1 {
  font-family: GameofThrones;
  text-align: center;
}
body {
  background-image: url("../data/old-paper-bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: GameofThrones;
  background-color: wheat;
  width: 96%;
  height: 96%;
}

a:hover {
    color: lightblue;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}