@font-face { font-family: GameofThrones; src: url('../fonts/game-of-thrones/GameofThrones.TTF'); } 

h1 {
  font-family: GameofThrones;
  text-align: center;
}
body {
  padding: 25px;
  font-family: GameofThrones;
  background-image: url('../data/back.jpg');
}

a {
  color: #00B7FF;
}

.sidebar1 {
  position: relative;
  float: left;
  top: 10%;
  width: 25%;
  height: 90%;
  min-height: 90%;
}

.middle {
  position: relative;
  left: 25%;
  top: 10%;
  width: 50%;
  height: 90%;
  min-height: 90%;
}

.sidebar2 {
  position: relative;
  float: right;
  top: 10%;
  width: 25%;
  height: 90%;
  min-height: 90%;
}

.titlebar {
  position: relative;
  width: 100%;
  height: 10%;
  min-height: 10%;
}

.draughtboard {
  position: absolute;
  top: 45%;
  left: calc(50% - 286px);
  width: 512px;
  height: 512px;
  border: solid;
  border-width: 15px;
  border-color: gray;
  border-radius: 3px;
  background-color: rgb(240, 236, 230);
}

.whitepiece .piece {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: white;
  border: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.redpiece .piece {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: crimson;
  border: solid;
  border-width: 10px;
  border-color: crimson;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.piece.available.selected {
  border: solid;
  border-color: rgb(56, 241, 56);
  border-width: 10px;
}

.whitepiece .piece.available {
  box-shadow: 0 0 10px 5px gold;
}

.redpiece .piece.available {
  box-shadow: 0 0 10px 5px rgb(236, 95, 123);
}

.piece.available:hover {
  box-shadow: 0 0 10px 5px #20f868;
}

.tile.available {
  box-shadow: 0 0 10px 5px #d0e22c;
}

.tile.available:hover{
  box-shadow: 0 0 10px 5px #20f868;;
}


.game-status {
  position: absolute;
  top: 150%;
}

.values {
  position: absolute;
  top: 170%;
}

.wrapper1, .wrapper2 {
  background-color: aliceblue;
  border: solid;
  border-width: 5px;
  border-color: gray;
  position: relative;
  left: 10%;
  width: 60%;
  padding-top: 60%;
}

.wrapper2 {
  left: 25%;
}

.stark, .lannister {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

#stark-king-logo {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

#lannister-king-logo {
  position: absolute;
  display: block;
  left: 15%;
  top: 15%;
  width: 70%;
  height: auto;
}

#text-s {
  position: absolute;
  left: 10%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: crimson;  
}

#text-l {
  position: absolute;
  right: 10%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: gold;
}

.stark-captured {
  position: absolute;
  top: 170%;
  left: 10%;
  color: black;
}

.red-captured {
  position: absolute;
  right: 20%;
  top: 190%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: crimson;
}

.lannister-captured {
  position: absolute;
  top: 170%;
  right: 10%;
  color: black;
}

.white-captured {
  position: absolute;
  left: 20%;
  top: 190%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
}

.center {
  text-align: center;
}
