@font-face { font-family: GameofThrones; src: url('../fonts/game-of-thrones/GameofThrones.TTF'); } 

h1 {
  font-family: GameofThrones;
  text-align: center;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: wheat;
}

a {
  color: #00B7FF;
}

.sidebar {
  position: relative;
  float: left;
  width: 25%;
  height: 90%;
  min-height: 90%;
}

.middle {
  position: relative;
  float: left;
  width: 50%;
  height: 90%;
  min-height: 90%;
}

.titlebar {
  position: relative;
  width: 100%;
  height: 10%;
  min-height: 10%;
}

.draughtboard {
  position: absolute;
  top: calc(50% + 15px);
  left: calc(50% - 286px);
  width: 512px;
  height: 512px;
  border: solid;
  border-width: 15px;
  border-color: gray;
  background-color: rgb(240, 236, 230);
}

.whitepiece .piece {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: white;
  border: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.redpiece .piece {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: red;
  border: solid;
  border-width: 10px;
  border-color: red;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.piece.selected {
  border: solid;
  border-color: rgb(56, 241, 56);
  border-width: 10px;
}

.piece:hover {
  box-shadow: 0 0 10px 5px #20f868;
}

.tile.available {
  box-shadow: 0 0 10px 5px #d0e22c;

}

.tile.available:hover{
  box-shadow: 0 0 10px 5px #20f868;;
}
